<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" prefix="og: http://ogp.me/ns#">

    <head>

        <title>Killer Game</title>
        {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0">

    </head>

    <body>

		<h1>Killer Game</h1>

		<div class="intro">
			Voici, jusqu'&agrave; pr&eacute;sent, la liste des participants au Killer Game :
		</div>

		<div class="playersList">
			{% for player in players_list %}

				<div class="player">
					<p>{{ player.name }} {{ player.first_name }} [@{{ player.pseudo }} - Code : {{ player.code }}] [T&eacute;l = {{ player.telephone }}] [Dernier meurtre : {{player.last_killed_action_date}}] => Cible : @{{ player.target }}</p>
					<p>Action pour mourir : {{ player.action }}</p>
				</div>

			{% empty %}

				<p>Aucun utilisateur</p>

			{% endfor %}
		</div>

    </body>

</html>