<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" prefix="og: http://ogp.me/ns#">

    <head>

        <title>Killer Game</title>

        {% load static %}

        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/home.css' %}" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0">

    </head>

    <body>

        <div id="notasmartphone">
            <header>
                <img id="small_size_logo" src="{% static 'myapp/img/KillerGame.svg' %}" alt="KillerGame">
            </header>

            <div class="container">
                <div class="top_part">
                    <img src="{% static 'myapp/img/top-part-blood.svg' %}" alt="top-part-blood" />
                </div>
                <div class="medium_part_column">
                    <div id="desktop">
                        <p>S&eacute;rieusement ?</p>
                        <img id="whatsApp" src="{% static 'myapp/img/whatsapp-logo-variant.svg' %}" alt="whatsapp-logo-variant">
                        <p>Ce jeu se joue sur mobile, passez au responsive !</p>
                    </div>
                    <div id="paysage">
                        <p>Oups...</p>
                        <img id="rotate" src="{% static 'myapp/img/rotate-screen.svg' %}" alt="rotate-screen">
                        <p>&Ccedil;a marche beaucoup mieux dans l'autre sens !</p>
                    </div>
                </div>
                <div class="bottom_part">
                    <img src="{% static 'myapp/img/bottom_part_blood.svg' %}" alt="bottom_part_blood" />
                </div>

            </div>
        </div>

        <div id="smartphone">

            <div class="container">
                <div class="top_part">
                    <div class="top_part_blood">
                        <img src="{% static 'myapp/img/top-part-blood.svg' %}" alt="top-part-blood" />
                    </div>
                    <div class="KillerGame">
                        <img src="{% static 'myapp/img/KillerGame.svg' %}" alt="KillerGame" />
                    </div>
                    <div class="victim">
                        <img src="{% static 'myapp/img/victim.svg' %}" alt="victim" />
                    </div>
                </div>

                <div class="medium_part_column">

                    <div class="intro">
                        <div class="message_title">
                            Une nouvelle victime !
                        </div>
                        <div class="message_text">
                            Entrez son code de validation ici :
                        </div>
                    </div>

                    <div class="formWrap">
                        <form action="{% url "Home Page" %}" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}

                            <button>
                                Validez votre contrat
                            </button>

                        </form>
                    </div>

                    <div class="bottom_part">
                        {% for game in games_list %}
                            {% if game.status == "0" %}
                                Pas encore inscrit(e) ?
                                <div class="subscription">
                                    <a onclick="self.location.href='subscription.html'">
                                        > Se lancer dans l'aventure
                                    </a>
                                </div>
                            {% else %}
                                <div class="subscription">
                                    A&iuml;e, les inscriptions sont closes :(
                                </div>
                            {% endif %}
                        {% empty %}
                            <div class="subscription">
                                Aucune partie en cours
                            </div>
                        {% endfor %}
                    </div>


                    <div class="bottom_part_blood">
                        <img src="{% static 'myapp/img/bottom_part_blood.svg' %}" alt="bottom_part_blood" />
                    </div>

                </div>
            </div>

            <footer>
                <div class="to_homepage" onclick="self.location.href='home.html'">
                    <div class="icone1">
                        <img src="{% static 'myapp/img/picto-home-white.svg' %}" alt="picto-home-white" />
                    </div>
                    ACCUEIL
                </div>
                <div class="to_rulespage" onclick="self.location.href='rules.html'">
                    <div class="icone2">
                        <img src="{% static 'myapp/img/picto-rules.svg' %}" alt="picto-rules" />
                    </div>
                    REGLES
                </div>
                <div class="to_ranking" onclick="self.location.href='ranking.html'">
                    <div class="icone3">
                        <img src="{% static 'myapp/img/picto-ranking.svg' %}" alt="picto-ranking" />
                    </div>
                    CLASSEMENT
                </div>
            </footer>

        </div>

    </body>
</html>