/* ____________________ CSS Document ____________________ */

/* ==================== For Desktop ==================== */

@media (min-width: 768px) {

    body {
        height: 100%;
        background-color: #000000;
        color: #ffe100;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 50px;
        text-align: center;
    }

    #smartphone {
        display: none;
    }

    #notasmartphone {
        height: 100%;
    }

        .top_part {
           position: absolute;
            left: 0;
            top: 0;
        }

        .container {
                margin-top: 175px;
        }

        #paysage {
            display: none;
        }

        #whatsApp {
            height: 90px;
        }

        .bottom_part {
            position: absolute;
            bottom: 0;
            right: 0;
        }

}

/* ==================== For smartphones in landscape mode ==================== */

@media (min-width: 481px) and (max-width: 767px) {

    body {
        height: 100%;
        background-color: #000000;
        color: #ffe100;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 26px;
        text-align: center;
    }

    #smartphone {
        display: none;
    }

    #notasmartphone {
        height: 100%;
    }

        .top_part {
           position: absolute;
            left: 0;
            top: 0;
        }

        #KillerGame {
            height: 50px;
            z-index: 1;
            position: relative;
        }

        #desktop {
            display: none;
        }

        #rotate {
            height: 90px;
        }

        .medium_part_column {
            position: relative;
            z-index: 1;
        }

        .bottom_part {
            position: absolute;
            bottom: 0;
            right: 0;
        }

}

/* ==================== For smartphones ==================== */
/*
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    #notasmartphone {
        display: none;
    }

    /* ____________________ Body + Header ____________________ */

    body {
        background-color: #000000;
        font-family: 'Source Sans Pro', sans-serif;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    #KillerGame {
        width: 100%;
        height: 56px;
        align-self: center;
        padding-top: 20px;
        -webkit-margin-after: 70px;
    }

    /* ____________________ Top part ____________________ */

    .top_part {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    /* ____________________ Medium part ____________________ */

    .medium_part_column {
        display: flex;
        flex-direction: column;
        line-height: 1.4;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        margin-bottom: 74px;
        padding-bottom: 10px;
    }

    .intro {
        margin-top: 60px;
        order: 1;
    }
    
        .rulesTitle {
            line-height: 0.88;
            margin-top: -80px;
            height: 70px;
            font-size: 24px;
            font-weight: normal;
            color: #ffe100;
        }

        .drop {
            position: absolute;
            z-index: 0;
        }

        li {
            padding-left: 12px;
            position: relative;
        }

        .intro_text {
            padding-right: 28px;
            padding-bottom: 15px;
            padding-left: 28px;
            order: 2;
            font-size: 18px;
            font-weight: 400;
            text-align: -webkit-left;
        }

        .steps {
            order: 3;
            padding-bottom: 10px;
            padding-right: 28px;
            padding-left: 28px;
            text-align: -webkit-left;
        }

        .step1, .step2, .step3, .step4, .step5, .step6, .step7, .step8 {
            margin-top: 10px;
            color: #ffffff;
        }

    /* ____________________ Tap Barre ____________________ */

    footer {
        background-color: #ffe100;
        position: fixed;
        display: flex;
        flex-direction: row;
        height: 74px;
        width: 100%;
        bottom: 0;
        margin-left: -8px;
    }

        .to_homepage {
            order: 1;
            flex-grow: 1;
            width: 37px;
            height: 13px;
            font-size: 10px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #000000;
        }
        .to_rulespage {
            order: 2;
            flex-grow: 1;
            width: 34px;
            height: 13px;
            font-size: 10px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #000000;
        }
        .to_ranking{
            order: 3;
            flex-grow: 1;
            width: 58px;
            height: 13px;
            font-size: 10px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #000000;
        }

    .icone1, .icone2, .icone3 {
        display: block;
        padding-top: 14px;
    }

}